@import url('https://css.gg/search.css');
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	height: fit-content;
	margin: 0;
}

header {
  background:red;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}


nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding: 10px;
  position: relative;
}

nav a {
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.header{
	background-color: red;
	display: flex;
	align-items:center;
}
.header .alignLI{
margin-left: 130px;
}
.header .alignL_R{
	margin-left: 1100px;
	}
.text{
    color:white;
    text-align: center;
    margin-top: 15%;
	font-family: "Verdana, Geneva, Tahoma, sans-serif";
}

.search_wrap{
	width: 500px;
	margin: 38px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 60px;

}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 25px;
	border-radius: 3px;
	font-size: 18px;
	outline: none;
	border: none;
}

.search_wrap .search_box .rosso{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 8px;
	width: 50px;
	height: 50px;
	background: red;
	cursor: pointer;
	outline: none;
	border: none;

	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.search_wrap .search_box .btn:hover{
	background:grey;	
}
.search_wrap .search_box .rosso:hover{
	filter: brightness(.8);	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
}


.search_wrap.search_wrap_3 .search_box .input{
	padding-right: 80px;
}


.search_wrap.search_wrap_3 .search_box .input{
    border-radius: 50px;
}

.search_wrap.search_wrap_3 .search_box .btn{
	right: 0px;
	border-radius: 50%;
}

.SpostaBar{
	margin-top: 0%;
}
.ButtonCerca{
	background-color: red;
	width: 50px;
	height: 50px;
	border-radius: 45%;
	position: absolute;
}
.gg-search{
position: absolute;
}

.centerForm{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
}
.centerForm .label{
	color:red;
    text-align: center;
    margin-top: 15%;
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
}

#selected{
	color: black;
}

.loginForm {
	margin: auto;
	width: 500px;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.loginForm label {
	color: white;
}

.loginForm button {
	color: red;
	border-radius: 12px;
	width: 100px;
	height: 30px;
	font-weight: bold;
	background-color: white;
}


.loginForm .white-rounded-input-container {
	width: 400px;
	height: 60px;
	background-color: white;
	margin: 20px 0;
	border-radius: 30px;
}

.loginForm .white-rounded-input {
	width: 100%;
	height: 100%;
	font-size: 18px;
	border-radius: 30px;
	padding: 20px;

	outline: none;
	border: none;
}

.registerForm {
	margin: auto;
	width: 500px;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.registerForm label {
	color: white;
}

.registerForm button {
	color: red;
	border-radius: 12px;
	width: 150px;
	height: 30px;
	font-weight: bold;
}


.registerForm .white-rounded-input-container {
	width: 300px;
	height: 40px;
	background-color: white;
	margin: 15px 0;
	border-radius: 30px;
}

.registerForm .white-rounded-input {
	width: 100%;
	height: 100%;
	font-size: 18px;
	border-radius: 30px;
	padding: 20px;

	outline: none;
	border: none;
}
.TableProva{
	background-color: red;
	align-items: center;
	margin-left: 405px;
}
.TableProva .Text{
	color: white;
	font-weight: bold;
	padding-right: 50px;
	text-align: center;
}
.TableProva .Text2{
	color: black;
	font-weight: bold;
	padding-right: 50px;
	text-align: center;
}
.alignIMG{
align-items: center;
width: 400px;
}
.TableProvaCarrello{
	background-color: red;
	align-items: center;
	margin-top: 50px;
}
.TableProvaCarrello .Text{
	color: white;
	font-weight: bold;
	padding-right: 50px;
	text-align: center;
}
.TableProvaCarrello .Text2{
	color: black;
	font-weight: bold;
	padding-right: 50px;
	text-align: center;
}
.CarrelloForm{
	margin: auto;
	width: 500px;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
.RicaricaForm{
	margin: auto;
	width: 500px;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
.RicaricaForm button{
	color: red;
	border-radius: 12px;
	width: 110px;
	height: 40px;
	font-weight: bold;
	background-color: white;
}
.Acquista button {
	color: red;
	border-radius: 12px;
	width: 100px;
	height: 30px;
	font-weight: bold;
	background-color: white;
	margin-left: 45%;
}
.Avvisi{
	color: white;
	font-weight: bold;
	padding-right: 50px;
	text-align: center;
}
.Collegamento{
	color: white;
	font-weight: bold;
	padding-right: 50px;
	margin-left: 43%;
}